@use "mixins" as mix;
@use "colors" as col;

#checkout-body {
  @include mix.background--mobile;
  @include mix.background--tablet;
  @include mix.background--desktop;
}

#checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  gap: 1em;
  margin-top: 10vh;
  // min-height: 80vh;
  min-height: 100vh;
}
#shoppingCart-title {
  font-size: 1.8em;
  margin: 15px 0px 5px 0px;

  @include mix.desktop {
    font-size: 2em;
    // margin: 15px 0px 5px 0px;
  }
}
.shoppingCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  @include mix.desktop {
    width: 70%;
  }
}
// produkt row
.itemRow {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 0 5px 0 5px;
  width: 95%;
  justify-content: space-between;
  border-radius: 5px;
  background-color: col.$color-grey-dark;
  color: col.$color-text-light;

  @include mix.desktop {
    width: 80%;
    height: 10vh;
    justify-content: space-between;
    font-size: larger;
  }

  &__Img {
    height: 5vh;
    @include mix.desktop {
      height: 8vh;
    }
  }
  //itemRow__productName
  //itemRow__productPrice
  #quantityContainer {
    display: flex;
    height: 30px;
    @include mix.desktop {
      height: 5vh;
    }
  }
  #productQuantity {
    width: 10%;
    @include mix.desktop {
      width: 20%;
    }
  }
}
.user-cart-item__remove-btn {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: col.$color-grey-light;
  border: none;
  border-radius: 5px;
  @include mix.burned--icon;
  // color: col.$color-text-light;
  // mix-blend-mode: soft-light;

  @include mix.desktop {
    width: 10%;
  }
}
.itemRow:last-child {
  margin: 5px 5px 0 5px;
  // padding: 0 5px 0 5px;
}
.checkout-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  padding-left: 3%;
  @include mix.desktop {
    width: 10%;
    padding-left: 0;
  }
}
.checkout-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  @include mix.desktop {
    width: 55%;
  }
}
.checkout-product-change-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  padding-right: 1%;
  @include mix.desktop {
    width: 30%;
    padding-right: 0;
    justify-content: space-evenly;
  }
}

//summa & checkout knapp
.sumContainer {
  display: flex;
  justify-content: space-evenly;
  // margin-top: 2vh;
  background-color: col.$color-grey-dark;
  border-radius: 10px;
  width: 80%;
  color: col.$color-text-light;

  @include mix.desktop {
    font-size: x-large;
    width: 50%;
  }
}
#checkoutBtn {
  padding: 5px;
  height: 50px;
  width: 50%;
  border-radius: 10px;
  align-self: center;
  background-color: col.$color-accent-purple;
  border: none;
  color: col.$color-text-light;
  margin-bottom: 20px;

  @include mix.desktop {
    font-size: large;
    padding: 5px;
    height: 8vh;
    width: 20%;
  }
}
