//Second palette
$color-grey-light: #36393f;

$color-grey-very-light: #42464d;

$color-grey-dark: #2f3136;

$color-grey-very-dark: #202225;

$color-accent-green: #2A8925;

$color-accent-purple: #790C8A;

$color-text-light: #ffffff;
