//Second palette
$color-grey-light: #36393f;

$color-grey-very-light: #42464d;

$color-grey-dark: #2f3136;

$color-grey-very-dark: #202225;

$color-background-grey: #3d3d3d;

$color-accent-green: #005c00;

$color-accent-purple: #3d348b;
//eventuellt förslag till lila #3b1865, #4c2072

$color-text-light: #b1b1b1; //#ffffff;

$color-burned: #614635;
