//Second palette
$color-grey-light: #36393f;

$color-grey-very-light: #636972; //#42464d;

$color-grey-dark: #2f3136;

$color-grey-very-dark: #202225;

$color-background-grey: #3d3d3d;

$color-accent-green: #005c00;

$color-accent-purple: #3d348b;

$color-text-light: #b1b1b1;

$color-burned: #614635;

$color-btn-dark: #352b21;

$color-btn-light: #614635; // #46392c;
