@use "mixins" as mix;
@use "colors" as col;
@use "variables" as var;

// footer layout
footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: col.$color-accent-purple;
  color: col.$color-text-light;
}

.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include mix.desktop {
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
}
// customerservice layout
.customerservice {
  &-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1em;
    margin: 1.5em;

    @include mix.desktop {
      width: auto;
    }
  }
  &-title {
    margin: 0;
    font-size: 1em;
    text-align: center;

    @include mix.desktop {
      text-align: left;
      font-size: 1em;
    }
  }
  &-info {
    margin: 0;
    font-family: var.$font-secondary;
    font-weight: 400;
    font-size: 1.1em;

    @include mix.desktop {
      font-size: 1.2em;
    }
  }
}
// contact layout
.contact {
  &-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.5em;
    margin: 1.5em;

    @include mix.desktop {
      width: auto;
    }
  }
  &-title {
    margin: 0;
    font-size: 1em;
    text-align: center;

    @include mix.desktop {
      text-align: left;
      font-size: 1.3em;
    }
  }

  &-info {
    margin: 0;
    font-size: 0.8em;
    text-align: center;

    @include mix.desktop {
      text-align: left;
      font-size: 1em;
    }
    &__body {
      font-family: var.$font-secondary;
      font-weight: 400;
      font-size: 1.1em;
      text-align: center;

      @include mix.desktop {
        font-size: 1.2em;
        text-align: left;
      }
    }
  }
}

.logotype-img {
  width: 30vw;

  @include mix.tablet {
    width: 20vw;
  }
  @include mix.desktop {
    display: flex;
    width: 10vw;
  }
}

// copyright layout
.copyright-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
