header {
    display: flex;
    flex-direction: row;

    height: 10vh;
}

nav {
    display: flex;
    flex-direction: row;
}

ul.nav-menu {
    display: flex;
    flex-direction: row;
}
.logo-container {
    display: flex;
}

.shoppingcart-container {
    display: flex;
}