@use "mixins";
@use "colors" as col;

#products {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: col.$color-grey-very-dark;
  color: col.$color-text-light;
  margin-top: 6em;
  background-color: #505050;
  background-image: url(../assets/images/Wall.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;

  @include mixins.desktop {
    display: flex;
    justify-content: center;
  }
}

.product__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin-top: 1em;
  margin-bottom: 5em;

  @include mixins.desktop {
    flex-direction: row;
    flex-wrap: wrap;
    width: 70vw;
    gap: 2em;
  }
}
.product__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: col.$color-grey-dark;
  border-radius: 10px;
  gap: 0.3em;
  padding: 1em;
  width: 60%;

  @include mixins.desktop {
    width: 25%;
  }

  .product__container-image {
    width: 90%;

    @include mixins.desktop {
      width: 90%;
    }
  }

  .product__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .product__info-name {
      font-weight: 600;
      width: 100%;
    }

    .product__info-price {
      font-weight: 600;
    }

    .product__inputs {
      display: flex;
      gap: 1em;
      align-items: center;
    }

    .product__info-amount {
      width: 2em;
    }

    .product__info-text-container {
      display: flex;
      flex-direction: column;
    }

    .product__info-buy-btn {
      background-color: col.$color-accent-purple;
      color: col.$color-text-light;
      border: none;
      border-radius: 5px;
      padding: 1em;
    }

    .product__info-buy-btn:hover {
      background-color: col.$color-grey-very-light;
    }
  }
}
