@use "mixins" as mix;
@use "colors" as col;

#user-cart__container {
  // background-color: col.$color-grey-very-light;
  width: 100vw;
  height: auto;
  z-index: 100;
  top: 10vh;
  color: col.$color-text-light;

  @include mix.desktop {
    width: 40%;
  }
}

.empty-cart-text {
  // color: col.$color-burned;
  // mix-blend-mode: multiply;
  @include mix.burned--text;
}

.user-cart__invisible {
  display: none;
}

.user-cart__visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.user-cart-item__container:first-child {
  @include mix.desktop {
    margin-top: 0em;
  }
}
.user-cart-item__container {
  // width: 90%;
  width: 100vw;
  height: 50px;
  // padding: 0.5em;
  padding-top: 1em;
  display: flex;
  // gap: 1em;
  justify-content: space-around;
  align-items: center;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.837);
  @include mix.hanging-plank--mobile;
  // background-image: url(../assets/images/MobileHangingSign.png);
  // background-repeat: no-repeat;
  // background-position: top center;
  // background-size: 100vw; //cover;
  @include mix.desktop {
    @include mix.hanging-plank--tablet;
    background-size: contain; //cover;
    padding-top: 0;
    width: 95%;
    margin-top: -0.5%;
    margin-left: 2em;
  }
  .img-container {
    display: flex;
    align-items: center;

    width: 10%;
    height: 100%;
    padding-left: 1em;
    // padding-left: 1.5em;

    @include mix.desktop {
      padding-left: 1em;
      margin-top: 0.5em;
    }

    .user-cart-item__image {
      width: auto;
      height: 75%; //10%;
      // margin-left: 1em;
      // margin-right: 0.3em;
      @include mix.desktop {
        height: 55%;
        // margin-right: 1.5em;
      }
    }
  }
  .name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    @include mix.desktop {
      margin-top: 0.5em;
    }
    .user-cart-item__info-name {
      width: 41%;
    }
  }
  .product-change-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    @include mix.desktop {
      margin-top: 0.7em;
      width: 30%;
    }

    #productQuantityCartWidget {
      width: 10%;
      height: 100%;
      font-size: large;
      @include mix.desktop {
        // margin-top: 0.3em;
        width: 20%;
        font-size: medium;
        height: 100%;
      }
    }

    .user-cart-item__info-price {
      width: 20.5%;
      display: flex;
      justify-content: center;
      margin-left: 5%;
      margin-right: 5%;
    }

    .user-cart-item__remove-btn {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: col.$color-grey-very-dark;
      border: none;
      border-radius: 5px;
      margin-right: 1.5em;
      // color: col.$color-text-light;
      // mix-blend-mode: soft-light;
      @include mix.burned--icon;

      @include mix.desktop {
        width: 10%;
      }
    }
  }
}

.checkout-btn-container {
  display: flex;

  .checkout-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    // color: col.$color-text-light;
    // color: col.$color-burned;
    // mix-blend-mode: multiply;
    // font-family: "Cinzel", serif;
    // font-weight: bold;
    @include mix.menu--font;
    font-size: 1.5rem;
    padding-right: 3em;
    border-right: 1px solid;
    border-color: col.$color-burned;

    @include mix.desktop {
      border: none;
      padding-left: 2em;
      padding-right: 2em;
    }

    &:hover {
      mix-blend-mode: color-burn; //soft-light eller color-burn
      color: rgb(200, 200, 200);
    }
  }
}
