$tablet: 768px;
$desktop: 1200px;
$big-scr: 1800px;

$font-main: "Cinzel", serif;
$font-secondary: "Cormorant Garamond", serif;
$font-special: "Passions Conflict", cursive;

//lägg in body och heading där de hör hemma och byt fonter efter val

$header-height--mobile: 95px;
$header-height--tablet: 85px;
$header-height--desktop: 10vh; //87px//120px
